body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ddd6d6;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}
.main-container{
  margin: 50px auto;
  width: 80%;
}

.search-bar input{
  padding: 10px;
  width: 300px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 8%;
}


.cards{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  padding: 10px;
}

.card img{
  width: 100%;
  border-radius: 10px;
  height: 50%;
}

/*.card h2{
  font-size: 1.5em;
  margin: 10px 0;
}

.card p{
  color: gray;
  font-size: 1em;
  margin: 0;
}*/

.pagination{
  margin: 10% 0;
  font-size: 1.2em;
}

.pagination span{
  margin: 0 5px;
}

.pagination .current-page{
  text-decoration: none; /* Removes the underline */
  color: black;
  font-weight: bold;
}



.pagination #prev-page{
  cursor: pointer;
  color: grey;

}

.pagination #next-page{
  cursor: pointer;
  color: green;
}